<header> 
  <%= link_to 'Home', root_path %>
</header>

<h1>Regional Offices</h1>

<p class="guidance">Select your Regional Office</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Programmes</th>
      <th>Top Change</th>
    </tr>
  </thead>

  <tbody>
    <% @regional_offices.each do |regional_office| %>
      <tr>
        <td><%= link_to regional_office.name, regional_office_path(regional_office) %></th>
        <td><%= regional_office.programmes.count %></th>
        <td><%= regional_office.top_change.respond_to?(:name) ? regional_office.top_change.name : "N/A" %></th>
      </tr>
    <% end %>
  </tbody>
</table>