<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Changes">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Rank</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Score</Data></Cell>
        <Cell><Data ss:Type="String">Average Ten Seed</Data></Cell>
      </Row>
    <% i = 1 %>
    <% @changes.each do |change| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= i.ordinalize %><% i += 1 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= change.name %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= change.score %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= change.average_ten_seed %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>