<h1>Villages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>No. Discussions</th>
      <th>Top Change</th>
    </tr>
  </thead>

  <tbody>
    <% @villages.each do |village| %>
      <tr>
        <td><%= link_to village.name, village %></td>
        <td><%#= village.discusions.count %>N/A</td>
        <td>N/A</td>
      </tr>
    <% end %>
  </tbody>
</table>