 <h1>Villages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>No. Discussions</th>
      <th>Top Change</th>
    </tr>
  </thead>

  <tbody>
    <% @villages.each do |village| %>
      <tr>
        <td><%= link_to village.name, village %></td>
        <td><%= village.discussions.count %></td>
        <td><%= village.top_change.respond_to?(:name) ? village.top_change.name : "N/A" %></td>
      </tr>
    <% end %>
  </tbody>
</table>