// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.change_info{
  margin: 0px;
  width: 100%;

  td{
    border-bottom: 0px;
    color: #669;
    padding: 0px 1px 1px 1px;
  }  
}

#report{
  width: 700px;

  th{
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 1px 5px;
    border-bottom: none;
  }

  #header{
    border-bottom: 2px solid #6678b1;
    font-size: 10px;
  }
}